
body {
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(to top, #DA70D6 0%, #FFB6C1 36%, #BA55D3 100%);
  color: #000000;
}
.main-header {
  padding-top: 35px;
  padding-bottom: 79px;
  background-color: #6451D5;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/headimage9.jpg");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-top {
   margin-bottom: 40px;
}

.header-top::after {
  display: table;
  clear: both;
  content: "";
}
.menu-row {
	padding:0;
	margin-top:3px;
}

.main {
width:100%; 	
padding:0;
margin:0 auto;
font-size:0.875em;
line-height:1.714em;
position:relative;
}
.logo {
  float: left;
  margin-left:40px;
  margin-top:-20px;
  width: 100px;
  height: 101px;
  background-image:url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/mainlogo2.png");
  z-index:500;
}

.logo img {
  display: block;
}
.menu {
overflow:hidden;
padding-left:150px;
}

.menu li {
float:left; 
position:relative;
list-style-type: none;
}

.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 26px;
  line-height: 27px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
  padding:5px 44px 4px 80px; 
  color:#ffffff;
  text-decoration: none;
}

.menu > li:first-child > a {padding:5px 44px 4px 45px;}
.menu li.last a {padding:5px 47px 4px 40px;}
.menu li a.active,
.menu li a:hover {color:#00688B;}

.main-menu {
  float: right;
  margin-top: 25px;
  z-index:10;
  }

.container {
  margin: 0 auto;
  padding: 0 30px;
 }
 
.promo {
  position: relative;
  padding-top:60px;
  z-index: 10;
  width: 100%;
 }
 
.promo::after{
  content: "";
  position: absolute;
  top: 85px;
  left: 487px;
  width: 640px;
  height: 446px;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/big-promo.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}
.promo p {
  width: 100%;
  margin: 0;
  margin-bottom: 35px;
  color:#ffffff;
  font-size: 24px;
  line-height: 30px;
}
.contactus  a {
color:#0000CD;
}
.contactus li {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0px;
  line-height: 1.5;
  font-family:Trebuchet MS;
  color: #00008B;
  list-style-type: none;
  font-size: 25px;
  
}
.features {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #FFFAFA;
}

.features .container::after {
  display: table;
  clear: both;
  content: "";
}

.features-item {
  position: relative;
  float: left;
  width: 320px;
  margin-right: 30px;
  min-height: 188px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 26px;
  text-align:center;
  font-size: 22px;
  line-height: 24px;
  font-weight:bold;
  font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 18px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}

.features-icon1 {
  margin-left:102px;
  margin-bottom:-18px;
  width: 110px;
  height: 108px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:102px;
  margin-bottom:-18px;
  width: 110px;
  height: 108px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:102px;
  margin-bottom:-18px;
  width: 110px;
  height: 108px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13.png");
  background-repeat: no-repeat;
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 85px;
  background-color: #2a2546;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

/* media */
@media screen and (min-width: 992px) and (max-width: 1199px) {
 /* Lage 1440x400 ok
  * Laptop 1024x369 ok */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.menu {
overflow:hidden;
padding-left:0px;
}
	
.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
  padding:5px 44px 4px 10px; 
  color:#ffffff;
  text-decoration: none;
}
	
.menu > li:first-child > a {padding:5px 44px 4px 45px;}
.menu li.last a {padding:5px 47px 4px 40px;}
.promo {
  position: relative;
  z-index: 10;
  width:100%;
 }
	
.services-title,
.contacts-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 30px;
  font-family:Trebuchet MS;
  padding-bottom:0px;
} 
	
 .promo::after{
  content: "";
  position: absolute;
  top: 217px;
  left:270px;
  width: 60%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/small-promo.png");
  background-repeat: no-repeat;
  z-index: 5;
}
	
.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}

.promo p {
  width: 300px;
  margin: 0;
  margin-bottom: 15px;
  color:#ffffff;
  font-size: 18px;
  line-height: 30px;
}
	
.header-top {
  margin-bottom: 20px;
}
	
.features-icon1 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11s.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12s.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13s.png");
  background-repeat: no-repeat;
}
.features-item {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 160px;
  min-height: 168px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 18px;
  text-align:center;
  font-size: 20px;
  line-height: 24px;
  font-weight:bold;
  font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}
.features-title,
.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 50px;
  font-family:Trebuchet MS;
}

.all {
  top: 8px;
  right: 0;
  padding-top: 0px;
  line-height: 1.5;
  color: #00008B;
  text-decoration: none;
  font-size: 20px;
  }
}

@media (max-width: 767px) {
.menu {
overflow:hidden;
padding-left:0px;
}
.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
   padding:5px 24px 4px 10px; 
   color:#ffffff;
   text-decoration: none;
}
.menu > li:first-child > a {padding:5px 24px 4px 25px;}
.menu li.last a {padding:5px 27px 4px 20px;}
.promo {
  position: relative;
  z-index: 10;
  width:100%;
 }
	
.services-title,
.contacts-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 30px;
  font-family:Trebuchet MS;
  padding-bottom:0px;
} 
.logo {
  float: none;
 }
	
 .promo::after{
  content: "";
  position: absolute;
  top: 0px;
  left:0px;
  width: 0px;
  height:0px;
}

.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}

.promo p {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  color:#ffffff;
  font-size: 20px;
  line-height: 30px;
}
	
.header-top {
  margin-bottom: 20px;
}
	
.promo .btn {
 margin-top: 12px;
 width: 100%;
}
	
.btn {
font-size: 18px;
}
	
.features-icon1 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11s.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12s.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13s.png");
  background-repeat: no-repeat;
}
.features-item {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 100px;
  min-height: 168px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 18px;
  text-align:center;
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
   font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}
.features-title,
.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 50px;
  font-family:Trebuchet MS;
}

.all {
  top: 8px;
  right: 0;
  padding-top: 0px;
  line-height: 1.5;
  color: #00008B;
  text-decoration: none;
  font-size: 20px;
  }
}

@media (max-width: 479px) {
.menu {
overflow:hidden;
padding-left:0px;
}
	
.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 18px;
  line-height: 8px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
  padding:5px 5px 5px 5px; 
  color:#ffffff;
  text-decoration: none;
}
	
.menu > li:first-child > a {padding:5px 5px 5px 25px;}
.menu li.last a {padding:5px 5px 5px 5px;}
.promo {
  position: relative;
  z-index: 10;
  width:100%;
 }
	
.services {
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/headimage71.jpg");
}
	
.services-title,
.contacts-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 30px;
  font-family:Trebuchet MS;
  padding-bottom:0px;
} 
.logo {
  float: none;
 }
 .promo::after{
  content: "";
  position: absolute;
  top: 0px;
  left:0px;
  width: 0px;
  height:0px;
}

.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}

.promo p {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  color:#ffffff;
  font-size: 20px;
  line-height: 30px;
}
.header-top {
  margin-bottom: 20px;
}
.promo .btn {
  margin-top: 12px;
  width: 100%;
}
.btn {
font-size: 18px;
}
.features-icon1 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11s.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12s.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13s.png");
  background-repeat: no-repeat;
}
.features-item {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 70px;
  min-height: 168px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 18px;
  text-align:center;
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
   font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}
.features-title,
.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 50px;
  font-family:Trebuchet MS;
}

.all {
  top: 8px;
  right: 0;
  padding-top: 0px;
  line-height: 1.5;
  color: #00008B;
  text-decoration: none;
  font-size: 20px;
  }
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
 .menu {
overflow:hidden;
padding-left:0px;
}
.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 16px;
  line-height: 10px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
  padding:5px 5px 5px 5px; 
  color:#ffffff;
  text-decoration: none;
}
.menu > li:first-child > a {padding:5px 5px 5px 25px;}
.menu li.last a {padding:5px 5px 5px 10px;}
.promo {
  position: relative;
  z-index: 10;
  width:100%;
 }
.services {
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/headimage71.jpg");
}  
.services-title,
.contacts-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 30px;
  font-family:Trebuchet MS;
  padding-bottom:0px;
} 
.logo {
  float: none;
 }
 .promo::after{
  content: "";
  position: absolute;
  top: 0px;
  left:0px;
  width: 0px;
  height:0px;
}

.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}

.promo p {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  color:#ffffff;
  font-size: 20px;
  line-height: 30px;
}
.header-top {
  margin-bottom: 20px;
}
.promo .btn {
  margin-top: 12px;
  width: 100%;
}
.btn {
font-size: 18px;
}
.features-icon1 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11s.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12s.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13s.png");
  background-repeat: no-repeat;
}
.features-item {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 50px;
  min-height: 168px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 18px;
  text-align:center;
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
   font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}
.features-title,
.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 50px;
  font-family:Trebuchet MS;
}

.all {
  top: 8px;
  right: 0;
  padding-top: 0px;
  line-height: 1.5;
  color: #00008B;
  text-decoration: none;
  font-size: 20px;
  }
}
@media (max-width:320px) {
  .menu {
overflow:hidden;
padding-left:0px;
}
.menu li a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top:20px;
  vertical-align: top;
  font-size: 14px;
  line-height: 8px;
  font-family:Trebuchet MS;
  letter-spacing:-1px;
  padding:5px 5px 5px 5px; 
  color:#ffffff;
  text-decoration: none;
}
.menu > li:first-child > a {padding:5px 5px 5px 20px;}
.menu li.last a {padding:5px 5px 5px 5px;}
.promo {
  position: relative;
  z-index: 10;
  width:100%;
 }
.services {
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/headimage71.jpg");
}  
.services-title,
.contacts-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 30px;
  font-family:Trebuchet MS;
  padding-bottom:0px;
} 
.logo {
  float: none;
 }
 .promo::after{
  content: "";
  position: absolute;
  top: 0px;
  left:0px;
  width: 0px;
  height:0px;
}

.promo-title {
 font-family:Trebuchet MS;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  color:#0000CD;
  font-weight:bold;
}

.promo p {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  color:#ffffff;
  font-size: 20px;
  line-height: 30px;
}
.header-top {
  margin-bottom: 20px;
}
.promo .btn {
  margin-top: 12px;
  width: 100%;
}
.btn {
font-size: 18px;
}
.features-icon1 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon11s.png");
  background-repeat: no-repeat;
}

.features-icon2 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon12s.png");
  background-repeat: no-repeat;
}

.features-icon3 {
  margin-left:60px;
  margin-bottom:-8px;
  width: 70px;
  height: 69px;
  text-align:center;
  background-image: url("https://s3.eu-central-1.amazonaws.com/marishathewicked/images/Builder/icon13s.png");
  background-repeat: no-repeat;
}
.features-item {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 30px;
  min-height: 168px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 18px;
  text-align:center;
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
   font-family:Trebuchet MS;
}

.features-item p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  line-height: 24px;
  text-align:center;
  font-family: Trebuchet MS;
}
.features-title,
.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 50px;
  font-family:Trebuchet MS;
}

.all {
  top: 8px;
  right: 0;
  padding-top: 0px;
  line-height: 1.5;
  color: #00008B;
  text-decoration: none;
  font-size: 20px;
  }
}


